.articlePage{
  justify-items: center;
  align-items: center;
  padding: 10px 0px;
}

.thisArticle {
border: solid black;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 10%;
  background-color: rgb(200, 255, 214);
}

.comment {
  border: solid black;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 10%;
  background-color: rgb(200, 241, 255);
}