.articlePage{
  justify-items: center;
  align-items: center;
  padding: 10px 0px;
}

.thisArticle {
border: solid black;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 10%;
  background-color: rgb(200, 255, 214);
}

.comment {
  border: solid black;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 10%;
  background-color: rgb(200, 241, 255);
}

.UPVoteButton {
  background-color: green;
  height: 100%;
  width: 50px;
  border: black;
  opacity: 0.2;
}

.UPVoteButton:hover{
  opacity: 1;
}

.DOWNVoteButton {
  background-color: red;
  height: 100%;
  width: 50px;
  border: black;
  opacity: 0.2;
}

.DOWNVoteButton:hover{
  opacity: 1;
}