.App {
  text-align: center;
}

nav {
  color: white;
  background-color: blue;
  font-size: 70%;
  height: 50px;
}

.topBar {
  display: flex;
  font-size: 100%;
  align-content: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 5px;
  align-self: center;
}

nav > a:visited { text-decoration: none; color:white; }

.dropdown {
  float: right;
  overflow: hidden;
  padding: 0px 10px;
  margin: 5px 10px;
}

.dropdown .dropbtn {
  font-size: 18px; 
  border: none;
  outline: none;
  color: white;
  padding: 0vh 6vh;
  background-color: inherit;
}

.content {
  display: none;
  position: absolute;
  color: white;
  background-color: blue;
  min-width: 160px;
  z-index: 1;
  padding: 0px 10px;
  margin: 0px 10px;
}

.content > a {
  color: white;
  padding: 0px 10px;
  margin: 0px 10px;
}

.content a:hover {
  background-color:lightblue;
}

.dropdown:hover .content {
  display: block;
  margin: 0px 5px 0px 0px;
  padding: 0px 5px 0px 0px;
}