.articlePage{
  justify-items: center;
  align-items: center;
  padding: 10px 0px;
}

.thisArticle {
  border: solid lightgrey;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 5%;
  background-color: rgb(176, 255, 176);
  -webkit-box-shadow: 3px 6px 6px -2px rgba(0,0,0,0.38);
  -moz-box-shadow: 3px 6px 6px -2px rgba(0,0,0,0.38);
  box-shadow: 3px 6px 6px -2px rgba(0,0,0,0.38);
}

.comment {
  border: solid lightgrey;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 5%;
  background-color: rgb(200, 241, 255);
  -webkit-box-shadow: 3px 6px 6px -2px rgba(0,0,0,0.38);
  -moz-box-shadow: 3px 6px 6px -2px rgba(0,0,0,0.38);
  box-shadow: 3px 6px 6px -2px rgba(0,0,0,0.38);
}

.UPVoteButton {
  background-color: green;
  height: 20px;
  width: 50px;
  border: black;
}

.UPVoteButton:hover{
  opacity: 0.6;
}

.UPVoteButton:disabled{
  background-color: grey;
  color: black;
}

.DOWNVoteButton {
  background-color: red;
  height: 20px;
  width: 50px;
  border: black;
}

.DOWNVoteButton:hover{
  opacity: 0.6;
}

.DOWNVoteButton:disabled{
  background-color: grey;
  color: black;
}

.DeleteComment {
  justify-items: right;
  height: 20px;
}

.DeleteComment:hover {
  background-color: red;
}