.articlePage{
  justify-items: center;
  align-items: center;
  padding: 10px 0px;
}

.thisArticle {
  border: solid black;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 10%;
  background-color: rgb(176, 255, 176);
}

.comment {
  border: solid black;
  border-radius: 25px;
  width: 80%;
  padding: 5px;
  margin: 5px 10%;
  background-color: rgb(200, 241, 255);
}

.UPVoteButton {
  background-color: green;
  height: 100%;
  width: 50px;
  border: black;
}

.UPVoteButton:hover{
  opacity: 0.6;
}

.UPVoteButton:disabled{
  background-color: grey;
  color: black;
}

.DOWNVoteButton {
  background-color: red;
  height: 100%;
  width: 50px;
  border: black;
}

.DOWNVoteButton:hover{
  opacity: 0.6;
}

.DOWNVoteButton:disabled{
  background-color: grey;
  color: black;
}

.DeleteComment {
  border: solid red 3px;
  justify-items: right;
  margin: 5px;
}