.outerArticleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articleContainer{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 200px 71px;
   margin: 2px;
   padding: 2px 2px;
}

h2 {
  padding: 0px 10px;
}

p {
  padding: 0px 10px;
}

.votesDiv {
  grid-row: 1/2;
  padding: 0px;
  margin: 0px;
}

.voteCount {
  padding: 0px;
  margin: 0px;
}

.UPButton {
  background-color: green;
  height: 50px;
  width: 50%;
  border-radius: 0px 0px 0px 25px;
  border: black;
  opacity: 0.2;
}

.UPButton:hover{
  opacity: 1;
}

.DOWNButton {
  background-color: red;
  height: 50px;
  width: 50%;
  border-radius: 0px 0px 25px 0px;
  border: black;
  opacity: 0.2;
}

.DOWNButton:hover{
  opacity: 1;
}

.articleButton {
  grid-column: 1/3;
  grid-row: 1/3;
  background-color:  rgb(140, 224, 252);
  border-radius: 25px;
  border: black;
  opacity: 0.2;
}

.articleButton:hover{
  opacity: 1;
}

.articleButton > a { text-decoration: none; color: blue; }
.articleButton > a:visited { text-decoration: none; color: blue; }
